---
layout: default
---
<!-- page.html -->
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.description }}</h1>
  </header>

  <article>
    <div>
      Articles from the following external news and blogs:
      <ul>
        {% for source in site.external_news_sources %}
        <li><a href="{{ source.url }}" target="_blank" rel="noopener noreferrer">{{ source.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div>
      {%- include external_news.html %}
    </div>
  </article>
</div>
